<mat-toolbar class="flex justify-between" color="primary">
  <div class="w-12"></div>
  <h1>Задачи</h1>
  <button mat-button class="text-3xl" (click)="openDialog()">+</button>
</mat-toolbar>

<div class="container mx-auto pb-16">
  <div class="flex justify-center flex-wrap gap-3 mt-5">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
      *ngIf="loading"
      class="mt-5 "
    ></mat-progress-spinner>
    <app-card
      *ngFor="let project of projects"
      [title]="project.title"
      [id]="project.id"
      [todos]="project.todos"
    ></app-card>
  </div>
</div>
